@{
    ViewBag.Title = "Про систему";
}
<br />
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Автоматизована система розподілу та обліку навчального навантаження викладачів</h3>
    </div>
    <div class="panel-body">
        <h4>Призначення</h4>
        <p>Призначенням автоматизованої системи є розподіл та облік навчального навантаження між викладачами кафедри та формування звітної документації.</p>

        <hr />
        <h4>Цілі роботи</h4>
        <ul>
            <li>прискорення ведення та обробки великих об’ємів даних;</li>
            <li>зменшення часу на виконання розподілу та обліку навчального навантаження викладачів кафедри ВНЗ;</li>
            <li>спрощення процесу формування та обліку звітності по роботі кафедри;</li>
            <li>полегшення у відслідковуванні виконання викладачами навчального навантаження;</li>
        </ul>
    </div>
</div>
