@{
    ViewBag.Title = "Контакти";
}
<h2>@ViewBag.Title</h2>

<address>
    Україна, 03056,<br />
    м. Київ, пр. Перемоги 37а,<br />
    НТУУ КПІ, корп. 18, факультет інформатики та обчислювальної техніки, кафедра АСОІУ, к. 428/1, к. 429.<br />
    <abbr title="Phone">Тел:</abbr>
    8 (044) 204-90-45,
    8 (044) 204-98-47,
    8 (044) 204-82-98
</address>

<address>
    <strong>E-mail:</strong>   <a href="mailto:asoiu@kpi.ua">asoiu@kpi.ua</a><br />
    <strong>Сайт:</strong> <a href="http://asu.kpi.ua/">asu.kpi.ua</a>
</address>